<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>欢迎来到我的世界</title>
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body class="adminbody">
	<div id="main">
		<!-- top bar navigation -->
		<div class="headerbar">
			<!-- LOGO -->
			<div class="headerbar-left">
				<a href="index.html" class="logo"><img alt="Logo"
					src="img/logo.png" /> <span>Admin</span></a>
			</div>
			<nav class="navbar-custom">
				<ul class="list-inline menu-left mb-0">
					<li class="float-left">
						<button class="button-menu-mobile open-left">
							<i class="fa fa-fw fa-bars"></i>
						</button>
					</li>
				</ul>
			</nav>
		</div>

		<!-- Left Sidebar -->
		<div class="left main-sidebar">
			<div class="sidebar-inner leftscroll">
				<div id="sidebar-menu">
					<ul>
						<li class="submenu"><a href="#"><i
								class="fa fa-fw fa-table"></i> <span> 系统管理 </span> <span
								class="menu-arrow"></span></a>
							<ul class="list-unstyled">
								<li><a href="/sys/user/list">用户管理</a></li>
								<li><a href="/sys/role/list">角色管理</a></li>
								 <li><a href="/sys/menu/list">菜单管理</a></li>
							</ul></li>

						<li class="submenu">
						     <a href="#"><i class="fa fa-fw fa-image"></i> 
						     <span> 其他 </span> <span class="menu-arrow"></span></a>
							<ul class="list-unstyled">
								<li><a href="media-fancybox.html"><span class="label radius-circle bg-danger float-right">cool</span>Fancybox </a></li>
								<li><a href="media-masonry.html">Masonry</a></li>
								<li><a href="media-lightbox.html">Lightbox</a></li>
								<li><a href="media-owl-carousel.html">Owl Carousel</a></li>
								<li><a href="media-image-magnifier.html">ImageMagnifier</a></li>
							</ul>
					   </li>
					 </ul>
				</div>
			</div>
		</div>
		</div>

		<div class="content-page">
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xl-12">
							<div class="breadcrumb-holder">
								<h1 class="main-title float-left">燃烧的岁月</h1>
								<ol class="breadcrumb float-right">
									<li class="breadcrumb-item"><a href="#">主页</a></li>
									<li class="breadcrumb-item active"><a href="#">登出</a></li>
								</ol>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
							<div class="card-box noradius noborder bg-default">
								<i class="fa fa-file-text-o float-right text-white"></i>
								<h6 class="text-white text-uppercase m-b-20">Orders</h6>
								<h1 class="m-b-20 text-white counter">1,587</h1>
								<span class="text-white">15 New Orders</span>
							</div>
						</div>

						<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
							<div class="card-box noradius noborder bg-warning">
								<i class="fa fa-bar-chart float-right text-white"></i>
								<h6 class="text-white text-uppercase m-b-20">Visitors</h6>
								<h1 class="m-b-20 text-white counter">250</h1>
								<span class="text-white">Bounce rate: 25%</span>
							</div>
						</div>
						<footer class="footer">
							<span class="text-right"> 话说很多年很多年。。。以前 <a target="_blank"
								href="#">具体是什么呢？我忘记了。。抱歉</a>
							</span> <span class="float-right"> More Templates <a
								href="http://www.cssmoban.com/" target="_blank" title="我的魔法世界">我的魔法世界</a>
								- Collect from <a href="" title="尽情使用魔法吧少年"
								target="_blank">尽情使用魔法吧少年</a>
							</span>
						</footer>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
