
html {
	position: relative;
	min-height: 100%;
}

body {
	font-size: 0.9rem;
	background-color: #efefef;
	padding-bottom: 50px;
}

.bg-default {
	background-color: #64b0f2 !important;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.6);
}

.card-box {
	padding: 20px;
	background-clip: padding-box;
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid rgba(183, 183, 183, .125);

.row {
	margin-right: -10px;
	margin-left: -10px;
}

}

.headerbar {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

.headerbar .headerbar-left {
	background: #4980b5;
	float: left;
	text-align: center;
	height: 50px;
	position: relative;
	width: 250px;
	z-index: 1;
}

.navbar-custom {
	background-color: #4980b5;
	border-radius: 0;
	margin-bottom: 0;
	padding: 0 10px;
	margin-left: 250px;
	min-height: 50px;
}

.navbar-custom .dropdown-toggle:after {
	content: initial;
}

.navbar-custom .menu-left {
	overflow: hidden;
}

.logo {
	color: #e3ebf3 !important;
	font-size: 20px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 48px;
}

.logo span span {
	color: #fff;
}

.main-sidebar {
	top: 50px;
	width: 250px;
	z-index: 10;
	background: #262D33;
	bottom: 70px;
	margin-bottom: -70px;
	margin-top: 0;
	padding-bottom: 70px;
	position: absolute;
}

.content-page {
	margin-left: 250px;
	overflow: hidden;
}

.content-page .content {
	padding: 0 5px;
	margin-top: 50px;
}

.main-sidebar.left {
	position: absolute;
}

#sidebar-menu>ul>li>a {
	color: #b5b5b5;
	display: block;
	padding: 12px 12px 15px 12px;
	font-weight: 400;
	font-size: 0.90rem;
	border-left: 2px solid transparent;
}

.footer {
	border-top: 1px solid rgba(115, 140, 152, 0.2);
	bottom: 0;
	color: #818a91;
	text-align: left !important;
	padding: 10px;
	position: absolute;
	right: 0;
	left: 250px;
	background-color: #fff;
}
