<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>用户管理</title>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/vue.js"></script>
<script type="text/javascript" src="/js/layer.js"></script>
</head>
<body>
      <div id="page">
        {{user}}
      <button v-on:click="click">添加用户</button>
      </div>
      <div id="content" style="display:none;">
         <form action="/sys/user/add" method="post">
           <div>
             <span>用户名：</span>
             <input type="text" name="username">
           </div>
           <div>
            <span>密码：</span>
            <input type="password" name="password">
           </div>
           <div>
             <span>角色：</span>
             <select name="roleid">
               <option value="1">admin</option>
               <option value="2"> normal</option>
             </select>
           </div>
             <input type="submit">
         </form>
      </div>
      <script type="text/javascript">
          new Vue({
        	 el:"#page",
        	 data: {
        		 user:"user page"
        	 },
        	 methods:{
        		 click: function(){
        			 layer.open({
        				 type: 1,
        				 title: "添加用户",
        				 area: ['800px' , '300px'],
        				 time: 100000,
        				 content:$("#content").html(),
        				 btn: ["确定", "取消"],
        				 yes: function(index,layero){
        					
        				 }
        				 
        				 
        			 })
        		 }
        	 
        	 }
          
          })
      </script>
</body>
</html>